<mat-card>
    <mat-card-content>
        <table class="main-table">
            <tbody>
                <tr>
                    <th>Status</th>
                    <th>Task</th>
                    <th>for Customer</th>
                </tr>
                <tr *ngFor="let task of taskData" [routerLink]="['/main/customers/' + task.customerId]" (click)="setTabIndex(0); setNewHeader('Customer')">
                    <td>{{task.status}}</td>
                    <td>{{task.note}}</td>
                    <td>{{task.customerName}}</td>
                </tr>

            </tbody>
            
        </table>
    </mat-card-content>
</mat-card>

