<div class="dialog-container">
  <h2 mat-dialog-title> {{ "customer-dialog.header-delete" | translate }} </h2>
  <mat-dialog-content>
    <p> {{ "customer-dialog.text-delete" | translate }} </p>
    <mat-checkbox color="warn" [(ngModel)] ="checked" class="example-margin"> {{ "customer-dialog.checkbox-text-delete" | translate }} </mat-checkbox>
  
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="this.dialogRef.close();" > {{ "customer-dialog.cancel-button" | translate }} </button>
    <button mat-button color="warn" [disabled]="!checked" (click)="deleteCustomer()" routerLink="/main/customers"> {{ "customer-dialog.delete-button" | translate }} </button>
  </mat-dialog-actions>
</div>
