<div class="add-product-container">
    <h2>Add Product</h2>

    <mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <input type="text" matInput [(ngModel)]="product.name" [formControl]="productNameFormControl">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Product Price (€)</mat-label>
        <input type="number" matInput min="0" [(ngModel)]="product.ppu" [formControl]="productPriceFormControl">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Product Type</mat-label>
      <mat-select [(ngModel)]="product.type" name="status" [formControl]="productTypeFormControl">
        @for (type of typeOpt; track type) {
            <mat-option [value]="type.value">{{type.viewValue}}</mat-option>
          }
      </mat-select>
    </mat-form-field>
  
    <mat-dialog-actions>
      <button mat-button (click)="this.dialogRef.close();">Cancel</button>
      <button mat-button (click)="addProduct()" 
      [disabled]="productNameFormControl.invalid || 
        	        productPriceFormControl.invalid ||
                  productTypeFormControl.invalid ">Save</button>
    </mat-dialog-actions>
  </div>
