<div class="add-product-container dialog-container">
    <h2>{{ "product-dialog.header-add" | translate }}</h2>

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ "product-dialog.product-name" | translate }}</mat-label>
        <input type="text" matInput [formControl]="productName">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ "product-dialog.product-price" | translate }}</mat-label>
        <input type="number" matInput min="0" [formControl]="productPrice">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "product-dialog.product-type" | translate }}</mat-label>
      <mat-select name="status" [formControl]="productType">
            <mat-option value="Product">{{ "product-dialog.type-option-product" | translate }}</mat-option>
            <mat-option value="Service">{{ "product-dialog.type-option-service" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-dialog-actions class="items-center">
      <button mat-button (click)="addProduct()" 
      [disabled]="productName.invalid || 
        	        productPrice.invalid ||
                  productType.invalid ">{{ "product-dialog.save-button" | translate }}</button>
      <button mat-button (click)="this.dialogRef.close();">{{ "product-dialog.cancel-button" | translate }}</button>
    </mat-dialog-actions>
  </div>
