<div class="edit-task-container dialog-container">
  <h2 mat-dialog-title class="pd-8">{{ "task-dialog.header-edit" | translate }}</h2>

  <mat-form-field appearance="outline">
    <mat-label>{{ "task-dialog.select-status-label" | translate }}</mat-label>
    <mat-select [(ngModel)]="task.status" name="status" [formControl]="statusFormControl">    
      <mat-option value ="open">{{"task-dialog.status-option-open" | translate}}</mat-option>
      <mat-option value ="closed">{{"task-dialog.status-option-closed" | translate}}</mat-option> 
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>{{ "task-dialog.note-label" | translate }}</mat-label>
    <textarea [(ngModel)]="task.note" matInput value="{{task.note}}" [formControl]="noteFormControl"></textarea>
  </mat-form-field>

  <mat-dialog-actions class="items-center" appearance="outline">
    <button class="full-width" mat-button (click)="updateTask()" [routerLink]="['/main/customers/' + customerId]"
    [disabled]="statusFormControl.invalid || noteFormControl.invalid">{{ "task-dialog.save-button" | translate }}</button>
    <button class="full-width" mat-button (click)="this.dialogRef.close();">{{ "task-dialog.cancel-button" | translate }}</button>
    <button class="full-width" mat-button color="warn" (click)="openDialogDeleteTask()">{{ "task-dialog.delete-button" | translate }}</button>
  </mat-dialog-actions>
</div>

