<div class="dialog-container">
  <h2 mat-dialog-title  class="pd-8"> {{ "task-dialog.header-delete" | translate }} </h2>
  <mat-dialog-content>
    <p> {{ "task-dialog.text-delete" | translate }} </p>
    <mat-checkbox color="warn" [(ngModel)] ="checked" class="example-margin">{{ "task-dialog.checkbox-text-delete" | translate }}</mat-checkbox>
  
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="this.dialogRef.close();" > {{ "task-dialog.cancel-button" | translate }} </button>
    <button mat-button color="warn" [disabled]="!checked" (click)="deleteTask()" routerLink="/user"> {{ "task-dialog.delete-button" | translate }} </button>
  </mat-dialog-actions>
  
</div>
