<mat-card>
    <mat-card-content>
        <table class="user-table">
            <tbody>
                <tr>
                    <th>Order-ID</th>
                    <th>Orderdate</th>
                    <th>Status</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
                <tr *ngFor="let purchase of purchaseData" [routerLink]="['/main/customers/' + purchase.customerId]" (click)="setTabIndex(1); setNewHeader('Customer')"
                #tooltip="matTooltip" matTooltip="Jump to Customer" [matTooltipPosition]="'above'" matTooltipHideDelay="0">
                    <td>{{purchase.purchaseId}}</td>
                    <td>{{purchase.orderdate}}</td>
                    <td>{{purchase.status}}</td>
                    <td>{{purchase.product}}</td>
                    <td>{{purchase.amount}}</td>
                    <td>{{purchase.totalPrice}} €</td>
                </tr>

            </tbody>
            
        </table>
    </mat-card-content>
</mat-card>

<button class="add-user-button" mat-fab color="warn" #tooltip="matTooltip" matTooltip="Add a Purchase" [matTooltipPosition]="'above'" matTooltipHideDelay="1000">
    <mat-icon>add</mat-icon>
</button>