.main-table{
    width: 100%;
    border-collapse: collapse;
    
    th{
        &:first-child{
            padding-left: 16px;
        }
        
        text-align: start;
        color: darkgray;
        font-weight: 400;
        font-size: 16px;
        border-bottom: 1px solid rgba(0,0,0,0.04);
    }

    tr{
        height: 56px;
        border-bottom: 1px solid rgba(0,0,0,0.04);
            &:last-child{
                    border-bottom: 0;
            }
            &:hover{
                cursor: pointer;
                background-color: rgba(0,0,0,0.04);
            }
            td{
                &:first-child{
                    padding-left: 16px;
                }
            }
    }

}

table {
    width: 100%;
    table-layout: fixed;
  }

.no-hover{
    &:hover{
        background-color: unset !important;
        cursor: unset !important;
    }
}

.table-top-container{
    display: flex;
    justify-content: space-between;
}