<div class="full-width-height">
    <mat-card class="login-container">
      <div class="logo-login-container"><img src="assets/logo/logo_light.png" alt=""></div>

      <mat-divider></mat-divider>

      <mat-card-header class="header-container">
        <mat-card-title> {{ "login.header-login" | translate }} </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="login-form">

          <mat-form-field class="full-width">
            <mat-label> {{ "login.header-email" | translate }} </mat-label>
            <input type="email" id="email" matInput [formControl]="email" placeholder="Ex. pat@example.com">
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label> {{ "login.header-password" | translate }} </mat-label>
            <input [type]="hide ? 'password' : 'text'" type="password" matInput [formControl]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            
          </mat-form-field>

        </form>
      </mat-card-content>

      <mat-card-actions class="login-btn-container">
        <button class="login-btn" mat-raised-button color="primary"
        [disabled]="email.invalid || password.invalid"
        (click)="checkUser()"> {{ "login.login-button" | translate }} </button>
      </mat-card-actions>

      <mat-card-content  class="user-not-found-note" *ngIf="userNotFound">
        {{ "login.msg-no-user" | translate }} 
      </mat-card-content>

      <mat-card-content  class="user-not-found-note" *ngIf="wrongPassword">
        {{ "login.msg-wrong-password" | translate }} 
      </mat-card-content>

      <mat-card-content class="register">
        <mat-card-subtitle> {{ "login.register-text" | translate }} </mat-card-subtitle>
        <mat-card-subtitle class="register-link" routerLink="/register"> {{ "login.register-link-text" | translate }} </mat-card-subtitle>
      </mat-card-content>

      <button mat-icon-button color="primary" (click)="translate.switchLogRegTranslation()">
        <mat-icon><img class="flag" src= {{translate.flag}} alt=""></mat-icon>
      </button>
    </mat-card>
  </div>