<div class="edit-container dialog-container">
    <h2>{{ "product-dialog.header-edit" | translate }}</h2>

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ "product-dialog.product-name" | translate }}</mat-label>
        <input type="text" matInput [(ngModel)]="product.name" value="{{product.name}}" [formControl]="productNameFormControl">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>{{ "product-dialog.product-price" | translate }}</mat-label>
        <input type="number" matInput [(ngModel)]="product.ppu" [formControl]="productPriceFormControl">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ "product-dialog.product-type" | translate }}</mat-label>
      <mat-select [(ngModel)]="product.type" name="status" [formControl]="productTypeFormControl">
        <mat-option value="Product">{{ "product-dialog.type-option-product" | translate }}</mat-option>
        <mat-option value="Service">{{ "product-dialog.type-option-service" | translate }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-dialog-actions>
      <button mat-button (click)="updateProduct()"
      [disabled]="productNameFormControl.invalid || 
      productPriceFormControl.invalid ||
      productTypeFormControl.invalid">{{ "product-dialog.save-button" | translate }}</button>
      <button mat-button (click)="this.dialogRef.close();">{{ "product-dialog.cancel-button" | translate }}</button>
      <button mat-button color="warn" (click)="openDialogDeleteProduct()">{{ "product-dialog.delete-button" | translate }}</button>
    </mat-dialog-actions>
</div>
