<mat-drawer-container class="mat-drawer-container">
    <mat-drawer #drawer class="sidenav-container" opened="true" mode="side">
      <div class="logo-container">
        <img class="logo" src="assets/logo/logo.png" alt="">
      </div>
  
      <ul>
        <li routerLink="dashboard" (click)="setNewHeader('Dashboard')"><mat-icon>dashboard</mat-icon>Dashboard</li>
        <li routerLink="customers" (click)="setNewHeader('Customers')"><mat-icon>person</mat-icon>Customer</li>
        <li routerLink="tasks" (click)="setNewHeader('Tasks')"><mat-icon>task</mat-icon>Tasks</li>
        <li routerLink="products" (click)="setNewHeader('Products')"><mat-icon>inventory</mat-icon>Products</li>
        <li routerLink="purchases" (click)="setNewHeader('Purchases')"><mat-icon>shopping_bag</mat-icon>Purchases</li>
      </ul>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <mat-icon (click)="drawer.toggle()" class="menu-icon">menu</mat-icon>
        <span>{{ this.setHeader.header }}</span>
      </mat-toolbar>
  
      <div class="routing-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer-container>
