<mat-card>
    <mat-card-content>
        <table class="main-table">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th style="text-align: end;">Price per unit (€)</th>
                    
                </tr>
                <tr *ngFor="let product of productData" (click)="openDialogEditProduct(product)">
                    <td>{{product.name}}</td>
                    <td>{{product.type}}</td>
                    <td style="text-align: end;">{{product.ppu.toFixed(2)}}</td>
                    
                </tr>

            </tbody>
            
        </table>
    </mat-card-content>
</mat-card>

<button (click)="openDialogAddProduct()" class="add-button" mat-fab color="warn" #tooltip="matTooltip" matTooltip="Add a Product" [matTooltipPosition]="'above'" matTooltipHideDelay="1000">
    <mat-icon>add</mat-icon>
</button>
