<div class="dialog-container">
  <h2 mat-dialog-title  class="pd-8"> {{ "delete-user-dialog.header-delete" | translate }} </h2>
  <mat-dialog-content>
    <p> {{ "delete-user-dialog.text-delete" | translate }} </p>
    <mat-checkbox color="warn" [(ngModel)] ="checked" class="example-margin"> {{ "customer-dialog.checkbox-text-delete" | translate }} </mat-checkbox>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-button (click)="this.dialogRef.close();" > {{ "delete-user-dialog.cancel-button" | translate }} </button>
    <button mat-button color="warn" [disabled]="!checked" (click)="deleteUser()" routerLink="/login"> {{ "delete-user-dialog.delete-button" | translate }} </button>
  </mat-dialog-actions>  
</div>
