<div class="edit-task-container dialog-container">
  <h2>{{ "task-dialog.header-add" | translate }}</h2>

  <mat-form-field>
    <mat-label>{{ "task-dialog.select-customer-label" | translate }}</mat-label>
    <mat-select [(ngModel)]="selectedCustomerName" name="customer" [formControl]="customerFormControl">
      @for (customer of allCustomers; track customer) {
        <mat-option [value]="customer.firstName + ' ' + customer.lastName" (click)="getCustomerId(customer.customerId)">{{customer.firstName + ' ' + customer.lastName}}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>{{ "task-dialog.select-status-label" | translate }}</mat-label>
    <mat-select [(ngModel)]="task.status" name="status" [formControl]="statusFormControl">
          <mat-option value ="open">{{"task-dialog.status-option-open" | translate}}</mat-option>
          <mat-option value ="closed">{{"task-dialog.status-option-closed" | translate}}</mat-option>      
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ "task-dialog.note-label" | translate }}</mat-label>
    <textarea [(ngModel)]="task.note" matInput [formControl]="noteFormControl"></textarea>
  </mat-form-field>

  <mat-dialog-actions class="items-center">
    <button mat-button (click)='saveTask()'
    [disabled]="
    customerFormControl.invalid || 
    statusFormControl.invalid || 
    noteFormControl.invalid"
    >{{ "task-dialog.save-button" | translate }}</button>
    <button mat-button (click)="this.dialogRef.close();">{{ "task-dialog.cancel-button" | translate }}</button>
  </mat-dialog-actions>
</div>
