<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      <h2 mat-dialog-title> {{ "customer-dialog.header-add" | translate }} </h2>
    <mat-dialog-content class="pd-top-16">
      <div class="splitted-rows">
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label> {{ "customer-dialog.firstname" | translate }} </mat-label>
            <input matInput id="firstname" type="text" [formControl]="firstname">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label> {{ "customer-dialog.lastname" | translate }} </mat-label>
            <input matInput id="lastname" [formControl]="lastname">
          </mat-form-field>
      </div>

      <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label> {{ "customer-dialog.company" | translate }} </mat-label>
            <input [(ngModel)]="customer.company" matInput>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> {{ "customer-dialog.position" | translate }} </mat-label>
            <input [(ngModel)]="customer.position" matInput>
          </mat-form-field>
      </div>

      <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label> {{ "customer-dialog.birthdate" | translate }} </mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="dateOfBirth">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>

      <div>
        <mat-form-field class="mr-16 full-width" appearance="outline">
          <mat-label>E-Mail</mat-label>
          <input id="email" matInput [formControl]="email">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="mr-16 full-width" appearance="outline">
          <mat-label> {{ "customer-dialog.phone" | translate }} </mat-label>
          <input id="number" type="number" matInput [formControl]="phone">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label> {{ "customer-dialog.street" | translate }} </mat-label>
            <input id="street" type="text" matInput [formControl]="street">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> {{ "customer-dialog.number" | translate }} </mat-label>
            <input id="number" type="number" matInput [formControl]="number">
          </mat-form-field>
      </div>

      <div>
        <mat-form-field class="mr-16" appearance="outline">
            <mat-label> {{ "customer-dialog.zipcode" | translate }} </mat-label>
            <input id="zipCode" type="number" matInput [formControl]="zipCode">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label> {{ "customer-dialog.city" | translate }} </mat-label>
            <input id="city" matInput type="text" [formControl]="city">
          </mat-form-field>
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <button mat-button (click)="saveCustomer()"  
        [disabled]="
          firstname.invalid || 
          lastname.invalid ||
          email.invalid || 
          phone.invalid ||
          street.invalid ||
          number.invalid ||
          zipCode.invalid ||
          city.invalid"
      > {{ "customer-dialog.save-button" | translate }} </button>
      <button mat-button (click)="this.dialogRef.close();"> {{ "customer-dialog.cancel-button" | translate }} </button>
    </mat-dialog-actions>
  </div>
  