.margin-r-16{
    margin-right: 16px;
}

.full-width{
    width: 100%;
}

.half-width{
    width: 50%;
}

.items-center{
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    width: 100%;
}