<div class="first-row">
    <mat-card class="small-container">
        <mat-card-header>
            <mat-card-title>Customer</mat-card-title>
            <mat-card-subtitle>Anzahl</mat-card-subtitle>
          </mat-card-header>
    </mat-card>
    
    <mat-card class="small-container">
        <mat-card-header>
            <mat-card-title>Revenue</mat-card-title>
            <mat-card-subtitle>Anzahl€</mat-card-subtitle>
          </mat-card-header>
    </mat-card>
    
    <mat-card class="small-container">
        <mat-card-header>
            <mat-card-title>Products for Sale</mat-card-title>
            <mat-card-subtitle>Anzahl</mat-card-subtitle>
          </mat-card-header>
    </mat-card>
</div>


<mat-card>
    <div class="chart-sales-container">
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>
    </div>
	
</mat-card>
