<div class="first-row">
    <mat-card class="small-container">
        <mat-card-header>
            <mat-card-title>Customer</mat-card-title>
            <mat-card-subtitle>{{userCount}}</mat-card-subtitle>
          </mat-card-header>
    </mat-card>
    
    <mat-card class="small-container">
        <mat-card-header>
            <mat-card-title>Revenue in total</mat-card-title>
            <mat-card-subtitle>{{totalRev}} €</mat-card-subtitle>
          </mat-card-header>
    </mat-card>
    
    <mat-card class="small-container">
        <mat-card-header>
            <mat-card-title>Products for Sale</mat-card-title>
            <mat-card-subtitle>{{productsCount}}</mat-card-subtitle>
          </mat-card-header>
    </mat-card>
</div>


<mat-card>
    <app-chart-bar></app-chart-bar>
</mat-card>

