.first-row{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
    margin-bottom: 16px;
}

.small-container{
    width: 100%;
}

.chart-sales-container{
    padding: 16px;
}

