<div class="add-purchase-container dialog-container">
    <h2> {{ "purchase-dialog.header-add" | translate }} </h2>

    <mat-form-field appearance="outline">
      <mat-label> {{ "purchase-dialog.select-customer" | translate }} </mat-label>
      <mat-select [(ngModel)]="selectedCustomerName" name="customer" [formControl]="customerFormControl">
        @for (customer of allCustomers; track customer) {
            <mat-option [value]="customer.firstName + ' ' + customer.lastName" (click)="getCustomerId(customer.customerId)">{{customer.firstName + ' ' + customer.lastName}}</mat-option>
          }
      </mat-select>
  </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> {{ "purchase-dialog.orderdate" | translate }} </mat-label>
        <input matInput [matDatepicker]="picker1" [(ngModel)]="orderDate" [formControl]="dateFormControl">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      

    <mat-form-field appearance="outline">
      <mat-label> {{ "purchase-dialog.status" | translate }} </mat-label>
      <mat-select [(ngModel)]="purchase.status" name="status" [formControl]="statusFormControl">
          <mat-option value="ordered"> {{ "purchase-dialog.status-option-ordered" | translate }} </mat-option>
          <mat-option value="in process"> {{ "purchase-dialog.status-option-inprocess" | translate }} </mat-option>
          <mat-option value="shipped"> {{ "purchase-dialog.status-option-shipped" | translate }} </mat-option>
          <mat-option value="delivered"> {{ "purchase-dialog.status-option-delivered" | translate }} </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label> {{ "purchase-dialog.product" | translate }} </mat-label>
        <mat-select [(ngModel)]="purchase.product" name="product" [formControl]="productFormControl">
          @for (product of allProducts; track product) {
              <mat-option [value]="product.name" (click)="getProductPrice(product.ppu)">{{product.name}}</mat-option>
            }
        </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label> {{ "purchase-dialog.ppu" | translate }} </mat-label>
      <input matInput  [(ngModel)]="productPrice"  placeholder="Total Price" disabled type="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label> {{ "purchase-dialog.amount" | translate }} </mat-label>
        <input matInput (change)="getTotalPrice()" [formControl]="amountFormControl" [(ngModel)]="purchase.amount" placeholder="Amount" value="{{purchase.amount}}" min="1" type="number" >
    </mat-form-field>

    <mat-form-field appearance="outline">
        <input matInput  [(ngModel)]="totalPrice" value="{{totalPrice}}" placeholder=" {{ 'purchase-dialog.totalprice' | translate }} " disabled type="number">
    </mat-form-field>

    <mat-dialog-actions class="items-center">
      <button mat-button (click)="savePurchase()"
      [disabled]="
      customerFormControl.invalid ||
      dateFormControl.invalid ||
      statusFormControl.invalid ||
      productFormControl.invalid ||
      amountFormControl.invalid"> {{ "purchase-dialog.save-button" | translate }} </button>
      <button mat-button (click)="this.dialogRef.close();"> {{ "purchase-dialog.cancel-button" | translate }} </button>
    </mat-dialog-actions>
</div>
