

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.align-items-center{
    display: flex;
    align-items: center;
}

.flag{
    height: 24px;
}

.mr-16{
    margin-right: 16px;
}

.full-width{
    width: 100%;
}

.pd-top-16{
    padding-top: 16px !important;
}

.pd-btm-16{
    padding-bottom: 16px !important;
}

.mr-top-16{
    margin-top: 16px !important;
}

.divider{
    padding: 0 !important;
    margin-top: 8px !important;
    margin-bottom: 8px !important;
}

.dis-flex-dir-row-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

mat-bottom-sheet-container{
    border-top-right-radius: 24px !important;
    border-top-left-radius: 24px !important;
}

.mdc-list{
    padding: 24px !important;
    display: flex !important;
    justify-content: center !important;

    span{
        font-size: 20px;
        font-weight: 400;
    }
}


/* Dark Theme Styles */
.dark-theme {
    .mat-drawer-container{
        background-color: #404040;
        color: #ffffff;
    }    

    .sidenav-container{
        background-color: #484848;
        color: #ffffff;
    }

    mat-toolbar{
        background-color: #3b475eff;
    }
    
    mat-card{
        border-radius: 20px;
        border-color: #484848;
        background-color: #484848;
    }

    mat-card-content{
        background-color: #484848;
        color: #ffffff;
        border-radius: 20px;
    }

    mat-form-field{
        background-color: #484848 !important;
        color: "warn";
    }

    table{
        background-color: #484848;
        color: #ffffff !important;
        td{
            color: #ffffff;
        }
    }

    .mat-mdc-cell  {
        border-bottom-color: #ffffff;
    }

    .mat-mdc-form-field{
        background-color: #484848;
    }

    .mat-mdc-card-subtitle{
        color: #ffffff;
    }

    #MyChart{
       color: #ffffff;
    }

    .dialog-container{
        background-color: #484848;
        color: #ffffff !important;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled){
        background-color: #484848;
    }

    .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
        color: #ffffff !important; 
    }

    .mat-mdc-dialog-container .mdc-dialog__title{
        color: #ffffff !important;  
    }

    mat-label{
        color: darkgray !important;

    }

    .mdc-floating-label {
        color: darkgray !important;
    }
    
    .mat-datepicker-toggle-default-icon .ng-star-inserted{
        color: darkgray !important;
    }

    mat-calendar{
        background-color: #484848;
    }

    mat-dialog-actions{
        button{
            color: #ffffff !important;
        }
        button:disabled{
            color: darkgrey !important;
        }
   
    }

    .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label{
        color: #ffffff !important;
    }

    .mat-mdc-tab .mdc-tab__text-label{
        color: darkgrey !important;
    }

    p{
        color: #ffffff;
    }

    .mdc-label{
        color: #ffffff;
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-text-field__input{
        color: #ffffff;
    }

    .customer-contact-detail{
        a{
            color: darkgrey !important;
        }
        
    }

    .mat-mdc-select{
        color:#ffffff ;
    }

    .mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input{
        color: darkgray;
    }
  }