<div class="customer-detail-container">
    <mat-card class="customer-detail-card">
        <mat-card-content>
            <div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                    #tooltip="matTooltip" 
                        matTooltip=" {{ 'customer-detail.tooltip-options' | translate }} "
                        [matTooltipPosition]="'above'"
                        matTooltipHideDelay="">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialogEditCustomer()">
                          <mat-icon>edit</mat-icon>
                          <span> {{ "customer-detail.header-edit" | translate }} </span>
                        </button>
                        <button mat-menu-item (click)="openDialogDeleteCustomer()">
                          <mat-icon color="warn">delete</mat-icon>
                          <span> {{ "customer-detail.header-delete" | translate }} </span>
                        </button>
                      </mat-menu>
                </div>
                <div class="customer-header">
                    <img src="assets/icons/user.png" alt="">
                    <h2>{{customer.firstName}} {{customer.lastName}}</h2>
                    <div class="customer-job-info">
                        <div>{{customer.position}}</div>
                        <div>{{customer.company}}</div>
                    </div>
                    <div class="customer-action-btn-container">
                        <a mat-icon-button color="primary" href="tel:{{customer.phone}}" 
                            #tooltip="matTooltip" 
                            matTooltip=" {{ 'customer-detail.tooltip-call' | translate }} "
                            [matTooltipPosition]="'above'"
                            matTooltipHideDelay="">
                                <mat-icon>call</mat-icon>
                        </a>

                        <a mat-icon-button color="primary" href="mailto:{{customer.email}}" 
                            #tooltip="matTooltip" 
                            matTooltip=" {{ 'customer-detail.tooltip-mail' | translate }} "
                            [matTooltipPosition]="'above'"
                            matTooltipHideDelay="">
                                <mat-icon>mail</mat-icon>
                        </a>
                    </div>
                </div>
    
                <div class="customer-contact-info">
                    <b> {{ "customer-detail.detail-header" | translate }} </b>
    
                    <div class="customer-contact-detail" >
                        {{ "customer-detail.birthdate-header" | translate }}:<br>
                        {{customer.birthdate}}                    
                    </div>
    
                    <div class="customer-contact-detail" >
                        E-Mail: 
                        <a href="mailto:{{customer.email}}" 
                        #tooltip="matTooltip" 
                        matTooltip=" {{ 'customer-detail.tooltip-mail' | translate }} "
                        [matTooltipPosition]="'right'"
                        matTooltipHideDelay="">{{customer.email}}</a>
                    </div>
    
                    <div class="customer-contact-detail">
                        {{ "customer-detail.phone-header" | translate }}:
                        <a href="tel:{{customer.phone}}" 
                        #tooltip="matTooltip" 
                        matTooltip=" {{ 'customer-detail.tooltip-call' | translate }} "
                        [matTooltipPosition]="'right'"
                        matTooltipHideDelay="">{{customer.phone}}</a>
                    </div>
    
                    <div class="customer-contact-detail">
                        {{ "customer-detail.adress-header" | translate }}:
                        <a class="adress-link" target="_blank" 
                        #tooltip="matTooltip" 
                        matTooltip=" {{ 'customer-detail.tooltip-maps' | translate }} "
                        [matTooltipPosition]="'right'"
                        matTooltipHideDelay="" 
                        href="https://www.google.com/maps/place/{{customer.street}}+{{customer.number}},+{{customer.zipCode}}+{{customer.city}}">
                            {{customer.street}} {{customer.number}},<br>
                            {{customer.zipCode}} {{customer.city}}
                        </a>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="customer-dashboard">
        <mat-tab-group  [selectedIndex]="selectedTabIndex.value"
        (selectedIndexChange)="selectedTabIndex.setValue($event)" ngDefaultControl >
            <mat-tab label="{{ 'tasks.tab-header1' | translate }}" class="table-container"> 
            
                <mat-card-content class="content-container">
                    <table class="tasks-table">
                        <tbody>
                            <tr>
                                <th> {{ "tasks.table-header1" | translate }} </th>
                                <th> {{ "tasks.table-header2" | translate }} </th>
                                <th> {{ "tasks.table-header4" | translate }} </th>
                            </tr>
                            <tr *ngFor="let task of allTasks" (click)="openDialogEditTask(task)" 
                            #tooltip="matTooltip" 
                            matTooltip=" {{ 'tasks.tooltip-edit' | translate }} "
                            [matTooltipPosition]="'above'"
                            matTooltipHideDelay="" >
                                <td>{{ translate.translationOn == true ? task.translatedStatus : task.status }}</td>
                                <td>{{task.note}}</td>
                                <td>{{task.taskId}}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="button-container">
                        <button (click)="openDialogAddTask()" class="add-button" mat-fab color="warn" 
                        #tooltip="matTooltip" 
                        matTooltip=" {{ 'tasks.tooltip-add' | translate }} " 
                        [matTooltipPosition]="'above'" 
                        matTooltipHideDelay="">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                </mat-card-content>


            </mat-tab>

            <mat-tab label= "{{ 'purchases.tab-header1' | translate }}" > 
                <mat-card-content class="table-container">
                    <table class="tasks-table">
                        <tbody>
                            <tr>
                                <th> {{ "purchases.table-header2" | translate }} </th>
                                <th> {{ "purchases.table-header3" | translate }} </th>
                                <th> {{ "purchases.table-header4" | translate }} </th>
                                <th> {{ "purchases.table-header5" | translate }} </th>
                                <th> {{ "purchases.table-header7" | translate }} </th>
                            </tr>
                            <tr *ngFor="let purchase of allPurchases" (click)="openDialogEditPurchase(purchase)" 
                            #tooltip="matTooltip" 
                            matTooltip=" {{ 'purchases.tooltip-edit' | translate }} " 
                            [matTooltipPosition]="'above'"
                            matTooltipHideDelay="" >
                                <td>{{purchase.orderdate}}</td>
                                <td> {{ translate.translationOn == true ? purchase.translatedStatus : purchase.status }}</td>
                                <td>{{purchase.product}}</td>
                                <td>{{purchase.amount}}</td>
                                <td>{{purchase.totalPrice}} €</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="button-container">
                        <button (click)="openDialogAddPurchase()" class="add-button" mat-fab color="warn" 
                        #tooltip="matTooltip" 
                        matTooltip=" {{ 'purchases.tooltip-add' | translate }} " 
                        [matTooltipPosition]="'above'" 
                        matTooltipHideDelay="">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-tab>

        </mat-tab-group>
    </mat-card>

</div>
<mat-form-field class="d-none">
    <mat-label>Selected tab index</mat-label>
    <input matInput type="number" [formControl]="selectedTabIndex" (ngModel)="selectedTabIndex">
  </mat-form-field>
